/*
    Card Component
*/

.cardBody {
  width: 200px;
  background-color: #adadad;
  border: 1px solid;
}

.cardBody li {
  list-style-type: none;
  flex: left;
  margin-top: 5px;
  box-sizing: content-box;
  display: inline;
}

.cardBody li h4 {
  display: inline;
}

#img {
  width: 200px;
}
